@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* font */
  --font-family-tech: "JetBrains Mono", monospace;
  --font-family-general: "Inter", sans-serif;

  /* color */
  --muted-grey: #7f7f7f;
}
