@import "tailwindcss";
@theme {
  /* font */
  --font-tech: "JetBrains Mono", monospace;
  --font-general: "Inter", sans-serif;

  /* color */
  --muted-grey: #7f7f7f;

  --button-primary-padding: 24px;
  --writing-normal: horizontal-tb;
  --writing-vertical: vertical-lr;
  --writing-vertical-reverse: vertical-rl;
  --writing-sideways: sideways-lr;
  --writing-sideways-reverse: sideways-rl;
}

@utility writing-* {
  writing-mode: --value(--writing-*);
}

body {
  height: 100dvh;
}
.root {
  height: 100dvh;
}
